work_dirs/*
debug*
pretrained_models/*
weights/*
experiment/*
checkpoint/*
pre-trained/*
data/*
experiment/
.idea/
log*/*
*/**/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*~
*.tar.gz
*.pth
*.tar
*.zip
*.josn
models/
image_show/*
.idea